doctype html
html(lang="en")
  
  head
    title Valkrie

    // build:remove 
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    link(href="bower-libs/hourly-stats/rel/style.css", rel="stylesheet")
    link(href="bower-libs/clobberbox/rel/style.css", rel="stylesheet")
    link(href="bower-libs/platform-component/rel/style.css", rel="stylesheet")
    link(href="bower-libs/scale-machine/rel/style.css", rel="stylesheet")
    link(href="bower-libs/splitter/rel/style.css", rel="stylesheet")
    link(href="bower-libs/hourly-average/rel/style.css", rel="stylesheet")
    link(href="bower-libs/usage-breakdown/rel/style.css", rel="stylesheet")
    link(href="bower-libs/console/rel/style.css", rel="stylesheet")
    link(href="bower-libs/lexi/rel/style.css", rel="stylesheet")
      
    // build:css style.css
    link(href="css/shared-svg.css", rel="stylesheet")
    link(href="css/hexes-svg.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    // endbuild

  body
    .valkri-test-ui
      .txt Simulate Rails Data Blob : 
      select
    
    //- Libraries
    // build:remove 
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/PubSubJS/src/pubsub.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/moment/min/moment.min.js")
    script(src="bower-libs/shadow-icons/rel/app.js")
    script(src="bower-libs/d3/d3.min.js")
    script(src="bower-libs/eventify/dist/eventify.min.js")
    script(src="bower-libs/velocity/velocity.js")
    script(src="bower-libs/lexi/rel/app.js")

    script(src="https://use.typekit.net/cqd5kth.js")
    // endbuild
    
    //- Move these into build js eventually
    script(src="bower-libs/clobberbox/rel/app.js")
    script(src="bower-libs/platform-component/rel/app.js")
    script(src="bower-libs/hourly-stats/rel/app.js")
    script(src="bower-libs/hourly-average/rel/app.js")
    script(src="bower-libs/splitter/rel/app.js")
    script(src="bower-libs/console/rel/app.js")
    script(src="bower-libs/scale-machine/rel/app.js")
    script(src="bower-libs/usage-breakdown/rel/app.js")
    //- 
      
    // build:js app.js
    script(src="js/shared-svg.js")
    script(src="js/hexes-svg.js")
    script(src="js/main.js")
    // endbuild
    
    
    //- Data shims to pull out once we have real sources of data
    // build:js2 shims.js
    //- script(src="bower-libs/hourly-stats/rel/data-shim.js")
    script(src="bower-libs/clobberbox/rel/data-shim.js")
    //- script(src="bower-libs/hourly-average/rel/data-shim.js")
    script(src="bower-libs/scale-machine/rel/data-shim.js")
    //- script(src="bower-libs/usage-breakdown/rel/data-shim.js")
    // endbuild
    
    script(src="stage/js/stage.js")
    
    script(type="text/javascript").
      try{Typekit.load({ async: true });}catch(e){}
      valkrieTesterInit()
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
