doctype html
html(lang="en")
  
  head
    title Valkrie

    // build:remove 
    link(href="stage/css/stage.css", rel="stylesheet")
    // endbuild
    
    // build:css style.css
    link(href="bower-libs/hourly-stats/rel/style.css", rel="stylesheet")
    link(href="bower-libs/clobberbox/rel/style.css", rel="stylesheet")
    link(href="bower-libs/platform-component/rel/style.css", rel="stylesheet")
    link(href="bower-libs/scale-machine/rel/style.css", rel="stylesheet")
    link(href="bower-libs/hourly-average/rel/style.css", rel="stylesheet")
    link(href="bower-libs/usage-breakdown/rel/style.css", rel="stylesheet")
    link(href="css/shared-svg.css", rel="stylesheet")
    link(href="css/main.css", rel="stylesheet")
    // endbuild

  body
    .ui
      .txt Simulate Rails Data Blob : 
      select
        option() 
        option(value="host-state-change") Change Host State : provisioning
        option(value="component-state-change") Change Component State : provisioning
        option(value="add-component") Add a Component
        option(value="remove-component") Remove a Component
        option(value="add-generation") Add a Generation
        option(value="remove-generation") Remove a Generation
        option(value="reset") Reset
    
    //- Libraries
    // build:remove 
    script(src="bower-libs/jquery/dist/jquery.js")
    script(src="bower-libs/PubSubJS/src/pubsub.js")
    script(src="bower-libs/jade/runtime.js")
    script(src="bower-libs/moment/min/moment.min.js")
    script(src="bower-libs/shadow-icons/rel/app.js")
    script(src="bower-libs/d3/d3.min.js")
    script(src="bower-libs/eventify/dist/eventify.min.js")
    script(src="bower-libs/velocity/velocity.js")
    script(src="https://use.typekit.net/cqd5kth.js")
    // endbuild
    

    // build:js app.js
    script(src="bower-libs/clobberbox/rel/app.js")
    script(src="bower-libs/platform-component/rel/app.js")
    script(src="bower-libs/hourly-stats/rel/app.js")
    script(src="bower-libs/hourly-stats/rel/data-shim.js")
    script(src="bower-libs/hourly-average/rel/app.js")
    script(src="bower-libs/scale-machine/rel/app.js")
    script(src="bower-libs/usage-breakdown/rel/app.js")
    script(src="js/shared-svg.js")
    script(src="js/main.js")
    // endbuild
    
    
    //- Data shims to pull out once we have real sources of data
    // build:js2 shims.js
    script(src="bower-libs/clobberbox/rel/data-shim.js")
    script(src="bower-libs/hourly-average/rel/data-shim.js")
    script(src="bower-libs/scale-machine/rel/data-shim.js")
    script(src="bower-libs/usage-breakdown/rel/data-shim.js")
    script(src="stage/js/stage.js")
    // endbuild
    
    script(type="text/javascript").
      try{Typekit.load({ async: true });}catch(e){}
      valkrieTesterInit()
    
    // build:remove 
    script(src="http://localhost:35729/livereload.js")
    // endbuild
